@model Project_TL.ViewModels.Settings.OwnerViewModel

@{
    ViewBag.Title = "DetailsOwner";
}

<h2>Details @Model.LastName @Model.FirstName</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellphoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellphoneNumber)
        </dd>
        <dt>
            Hotels
        </dt>
        @if (Model.Hotels.Count == 0)
        {
            <dd>This person is currently of no hotels the owner. </dd>
        }
        else
        {
            <dd>
                <table class="table-condensed table-responsive table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Contact person</th>
                        <th>Total cost</th>

                    </tr>
                    @foreach (var item in Model.Hotels)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.ContactPerson.LastName) @Html.DisplayFor(model => item.ContactPerson.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.TotalCost)
                            </td>
                        </tr>
                    }

                </table>
            </dd>
        }
        <dt>
            Firms
        </dt>
        @if (Model.Firms.Count == 0)
        {
            <dd>This person has currently no firms </dd>
        }
        else
        {
            <dd>
                <table class="table-condensed table-responsive table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Contact person</th>
                        <th>VAT number</th>

                    </tr>
                    @foreach (var item in Model.Firms)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Contactperson.LastName) @Html.DisplayFor(model => item.Contactperson.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.VATNumber)
                            </td>
                        </tr>
                    }

                </table>
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
