@model Project_TL.ViewModels.Application.AddHotelToApplicationViewModel

@{
    ViewBag.Title = "AddHotel";
}
<link href="~/Content/Hotels.css" rel="stylesheet" type="text/css" />
<link href="~/Content/theme.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Other.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/Own Scripts/DataTable.js"></script>
<script src="~/Scripts/Own Scripts/BasicTable.js"> </script>
@using (Html.BeginForm("addHotel", "Application", FormMethod.Post, new { model = Model, hotelId = Model.Hotels.Select(t => t.HotelId).ToList() }))
{
    @Html.AntiForgeryToken()
    <br />
    <br />
    <br />
    <h2>Add hotel to Application</h2>


    <table class="table table-hover table-bordered table-responsive display" id="">
        <thead>
            <tr class="alert-info">
                <th>
                    Select all <input type="checkbox" id="select_all" name="select-invoke" />
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hotels.FirstOrDefault().Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Hotels.FirstOrDefault().Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hotels.FirstOrDefault().StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hotels.FirstOrDefault().EndDate)
                </th>
                <th>@Html.DisplayNameFor(model => model.Hotels.FirstOrDefault().MaintenanceCost)</th>
                <th>@Html.DisplayNameFor(model => model.Hotels.FirstOrDefault().MStartDate)</th>
                <th>@Html.DisplayNameFor(model => model.Hotels.FirstOrDefault().MEndDate)</th>

                @* The amount of <th> has to be equal to the amount of <td> for that this last <th> *@
                <th class="hidden"></th>
            </tr>
            </thead>
        <tbody>

            @for (int i = 0; i < Model.Hotels.Count(); i++)
            {

                <tr>

                    <td>
                        @Html.EditorFor(item => item.Hotels[i].Checked, new { @class = "form-control", required = "required" })
                    </td>
                    <td>
                        @Html.DisplayFor(item => item.Hotels[i].Name)
                    </td>

                    <td>
                        <div class="col-md-10 form-group">
                            @Html.EditorFor(item => item.Hotels[i].Cost, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(item => item.Hotels[i].Cost, "", new { @class = "text-danger" })
                        </div>
                    </td>
                    <td>
                        @Html.EditorFor(item => item.Hotels[i].StartDate, new { HtmlAttributes = new { @class = "datefield", type = "date", value = DateTime.Today.ToShortDateString() } })
                    </td>
                    <td>
                        @Html.EditorFor(item => item.Hotels[i].EndDate, new { HtmlAttributes = new { @class = "datefield", type = "date", value = DateTime.Today.ToShortDateString() } })
                    </td>
                    <td>
                        <div class="col-md-10 form-group">
                            @Html.EditorFor(item => item.Hotels[i].MaintenanceCost, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(item => item.Hotels[i].MaintenanceCost, "", new { @class = "text-danger" })
                        </div>
                    </td>
                    <td>
                        @Html.EditorFor(item => item.Hotels[i].MStartDate, new { HtmlAttributes = new { @class = "datefield", type = "date", value = DateTime.Today.ToShortDateString() } })
                    </td>
                    <td>
                        @Html.EditorFor(item => item.Hotels[i].MEndDate, new { HtmlAttributes = new { @class = "datefield", type = "date", value = DateTime.Today.ToShortDateString() } })
                    </td>

                    <td class="hidden">
                        @Html.HiddenFor(item => item.Hotels[i].HotelId)

                    </td>
                </tr>

            }

        </tbody>

    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="btn btn-warning">
                @Html.ActionLink("back", "Index", "Application", new { Style = "color:white" })
            </div>
            <input type="submit" value="Add" class="btn btn-success" />

        </div>

    </div>
}


