@model Project_TL.ViewModels.Application.AddHotelToApplicationViewModel

@{
    ViewBag.Title = "AddHotel";
}
<script src="../../Scripts/jquery-1.3.2.min.js" language="javascript" type="text/javascript"></script>
<script src="../../Scripts/jquery-ui-1.7.1.custom.min.js" type="text/javascript"></script>
@using (Html.BeginForm("addHotel", "Application", FormMethod.Post, new { model = Model, hotelId = Model.Hotels.Select(t => t.HotelId).ToList() }))
{
    @Html.AntiForgeryToken()
    <br />
    <br />
    <br />
    <h2>Add hotel to Application</h2>


    <table class="table">
        <tr>
            <th>
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotels.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotels.FirstOrDefault().Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotels.FirstOrDefault().Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotels.FirstOrDefault().Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotels.FirstOrDefault().StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotels.FirstOrDefault().EndDate)
            </th>
        </tr>

        @for(int i = 0; i<Model.Hotels.Count(); i++)
        {
           
            <tr>
                
                <td>
                    @Html.EditorFor(item => item.Hotels[i].Checked, new {@class="form-control",required="required" })
                </td>
                <td>
                    @Html.DisplayFor(item => item.Hotels[i].Name)
                </td>
                <td>
                    
                    @Html.DisplayFor(item => item.Hotels[i].Owner.LastName) @Html.DisplayFor(item => item.Hotels[i].Owner.FirstName)
                </td>
                <td>
                   
                    @Html.DisplayFor(item => item.Hotels[i].Contact.LastName) @Html.DisplayFor(item => item.Hotels[i].Contact.FirstName)
                </td>
                 <td>
                        <div class="col-md-10 form-group">
                            @Html.EditorFor(item => item.Hotels[i].Cost, new { htmlAttributes = new { @class = "form-control"  } })
                            @Html.ValidationMessageFor(item => item.Hotels[i].Cost, "", new { @class = "text-danger" })
                        </div>
                    </td>
                    <td>
                        @Html.EditorFor(item => item.Hotels[i].StartDate, new { HtmlAttributes = new { @class = "datefield", type = "date",value = DateTime.Today.ToShortDateString()  } })
                    </td>
                    <td>
                        @Html.EditorFor(item => item.Hotels[i].EndDate, new { HtmlAttributes = new { @class = "datefield", type = "date", value = DateTime.Today.ToShortDateString() } })
                    </td>
               
                <td>
                    <input type="hidden" name="hotelId" value="@Model.Hotels[i].HotelId" />
                    
                </td>
            </tr>
            @*@ViewBag.h[i]. = @Model.Hotels[i].Name;*@
        }

    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add" class="btn btn-default" />
        </div>
    </div>
}


