@model Project_TL.ViewModels.Application.ApplicationViewModel

@{
    ViewBag.Title = "Details";
}
<html>
<body>

<h2>Details</h2>
<br />
<div>
    <h4> Application @Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

         <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @String.Format("€{0:N}", Model.Price)
        </dd>        
        <dt>
            @Html.DisplayNameFor(model => model.Maintenance)
        </dt>
        <dd>
            @String.Format("€{0:N}",Model.Maintenance)
        </dd>     
        
        <dt>
            Hotels
        </dt>
        <dd>
           @Html.Partial("DetailsList", Model)
        </dd>

    </dl>
    
   
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Add hotel(s)", "AddHotel", new { id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>

</body>
</html>