@model Project_TL.ViewModels.Application.ApplicationViewModel

<table class="table-condensed table-responsive table-bordered">
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Owner</th>
        <th>Contract Price</th>
        <th>Maintenance Price</th>
        <th>Start date</th>
        <th>End date</th>
        <th></th>
    </tr>
    @foreach (var item in Model.Hotels)
    {
        <tr>
            <td>@Html.DisplayFor(modelitem => item.Name)</td>
            <td>@Html.DisplayFor(modelitem => item.Adres.City)</td>
            <td>@Html.DisplayFor(modelitem => item.Owner.LastName) @Html.DisplayFor(modelitem => item.Owner.FirstName)</td>
            <td>€@Html.DisplayFor(modelitem => item.Systems.Single(t => t.SystId == Model.Id).Price)</td>
            <td>€@Html.DisplayFor(modelitem => item.Systems.FirstOrDefault(t => t.SystId == Model.Id).Maintenance.Price)</td>
            <td>@String.Format(item.Systems.FirstOrDefault(t => t.SystId == Model.Id).StartDate.ToShortDateString()) </td>
            <td>@String.Format(item.Systems.FirstOrDefault(t => t.SystId == Model.Id).EndDate.ToShortDateString()) </td>
            <td>
                @Html.ActionLink("Delete application from this hotel", "DeleteApplication", new { id = item.HotelId ,systId = Model.Id})
            </td>
        </tr>
    }
</table>

