@model Project_TL.ViewModels.SettingsViewModel
<link href="~/Content/Hotels.css" rel="stylesheet" type="text/css" />
<link href="~/Content/theme.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Other.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/Own Scripts/DataTable.js"></script>
<script src="~/Scripts/Own Scripts/BasicTable.js"> </script>
@{
    ViewBag.Title = "Index";
}

<html>
<body>
<br />
    <br />
    <br />
    <h2>Branches</h2>
    <p>
        @Html.ActionLink("Create New Branch","CreateBranch")
    </p>
    <table class="table table-hover table-bordered table-responsive display" id="">
        <thead>
            <tr class="alert-info">
                <th>@Html.DisplayNameFor(model => model.Branches.FirstOrDefault().Name)</th>
               
                <th></th>
            </tr>
        </thead>
        <tfoot>

        </tfoot>
        <tbody>
            @foreach (var item in Model.Branches)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Name)
                    </td>                 
                    <td>
                        @Html.ActionLink("Edit", "EditBranch", new {name = item.Name  }) |
                        @Html.ActionLink("Details", "DetailBranch", new {name = item.Name  }) |
                        @if (item.Hotels.Count() > 0)
                        {
                            @Html.ActionLink("Delete", "DeleteBranch", new { name = item.Name })
                        }
                        else
                        {
                            @Html.ActionLink("Delete", "DeleteLastBranch", new { name = item.Name },
               new { onclick = "return confirm('Are you sure you wish to delete this Branch?');" })
                        }
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <h2>Owners</h2>
    <p>
        @Html.ActionLink("Create New Owner", "CreateOwner")
    </p>
    <table class="table table-hover table-bordered table-responsive display" id="">
        <thead>
            <tr class="alert-info">
                <th>@Html.DisplayNameFor(model => model.Owners.FirstOrDefault().FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.Owners.FirstOrDefault().LastName)</th>
                <th>@Html.DisplayNameFor(model => model.Owners.FirstOrDefault().CellphoneNumber)</th>
                <th>@Html.DisplayNameFor(model => model.Owners.FirstOrDefault().Email)</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Owners)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.CellphoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "DetailsOwner", new {  id=item.OwnerId }) |
                        @if (item.Hotels.Count() > 0)
                        {
                            @Html.ActionLink("Delete", "DeleteOwner", new { id = item.OwnerId })
                        }
                        else
                        {
                            @Html.ActionLink("Delete", "DeleteLastOwner", new { id = item.OwnerId },
                        new { onclick = "return confirm('Are you sure you wish to delete this Owner?');" })
                        }                     
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <h2>ContactPersons</h2>
    <p>
        @Html.ActionLink("Create New Contact Person", "CreateContactPerson")
    </p>
    <table class="table table-hover table-bordered table-responsive display" id="">
        <thead>
            <tr class="alert-info">
                <th>@Html.DisplayNameFor(model => model.Owners.FirstOrDefault().FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.Owners.FirstOrDefault().LastName)</th>
                <th>@Html.DisplayNameFor(model => model.Owners.FirstOrDefault().CellphoneNumber)</th>
                <th>@Html.DisplayNameFor(model => model.Owners.FirstOrDefault().Email)</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Contacts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.CellphoneNr)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditContactPerson", new { id=item.ContactPersonId }) |
                        @Html.ActionLink("Details", "DetailsContactPerson", new { id=item.ContactPersonId }) |
                        @if (item.Hotels.Count() > 0)
                        {
                            @Html.ActionLink("Delete", "DeleteContactPerson", new { id = item.ContactPersonId })
                        }
                        else
                        {
                            @Html.ActionLink("Delete", "DeleteLastContactPerson", new { id = item.ContactPersonId },
                        new { onclick = "return confirm('Are you sure you wish to delete this Owner?');" })
                        }                 
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <h2>Statusses</h2>
    <p>
        @Html.ActionLink("Create New Status", "CreateStatus")
    </p>
    <table class="table table-hover table-bordered table-responsive display" id="">
        <thead>
            <tr class="alert-info">
                <th>Status</th>               
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Statusses)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.St)
                    
                    <td>
                        @Html.ActionLink("Edit", "EditStatus", new { status = item.St }) |         
                        @*@if (true)
                        {
                            @Html.ActionLink("Delete", "DeleteBranch", new { id = item.ContactPersonId })
                        }
                        else
                        {
                            @Html.ActionLink("Delete", "DeleteBranch", new { id = item.ContactPersonId },
                        new { onclick = "return confirm('Are you sure you wish to delete this Owner?');" })
                        }*@
                                    
                        @Html.ActionLink("Delete", "DeleteStatus", new { status = item.St })
                    </td>
                </tr>
            }
        </tbody>
    </table>
   

</body>
</html>

