<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HGBox</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/theme.css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
</head>
<body>
    <div class="navbar-custom navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")' class="pull-left">
                    
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @if(true){
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>
                            @Html.ActionLink("Rapport", "Index", "Search", routeValues: null, htmlAttributes: new { title = "Search" })
                            
                        </li>
                        <li>
                            @Html.ActionLink("Hotels", "Index", "Search", routeValues: null, htmlAttributes: new { title = "Search" })
                        </li>
                       <li>
                           @Html.ActionLink("Applications", "Index", "Search", routeValues: null, htmlAttributes: new { title = "Search" })
                       </li>
                        <li>
                            @Html.ActionLink("Users", "Index", "User", routeValues: null, htmlAttributes: new { title = "User" })
                        </li>
                        <li>
                            @Html.ActionLink("Settings", "Index", "Settings", routeValues: null, htmlAttributes: new { title = "Settings" })

                        </li>
                        <li>@Html.ActionLink("Account", "Index", "Reservation", routeValues: null, htmlAttributes: new { title = "Account" })</li>

                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>
                            @Html.ActionLink("Rapport", "Index", "Rapport", routeValues: null, htmlAttributes: new { title = "Rapport" })
                        </li>
                        <li >
                            @Html.ActionLink("Search", "Index", "Search", routeValues: null, htmlAttributes: new { title = "Search" })
                            
                        </li>
                        
                        
                        <li>@Html.ActionLink("Account", "Index", "Account", routeValues: null, htmlAttributes: new { title = "Account" })</li>

                    </ul>
                }
                
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @if (TempData["error"] != null)
        {
            <div class="alert alert-warning">@TempData["error"]</div>
        }
        <div id="renderbody">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; 2017 - CostMaker - Thomas Lefevere</p>
        </footer>
        <!-- Else user might get a wrong view while browsing through history-->
        <input type="hidden" id="refreshed" value="no">
        
    </div>
</body>
</html>