@model Project_TL.ViewModels.AddApplicationToHotelViewModel

@{
    ViewBag.Title = "AddHotel";
}
<script src="~/Scripts/Own Scripts/DataTable.js"></script>
<script src="~/Scripts/Own Scripts/BasicTable.js"> </script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <br />
    <br />
    <h2>Add hotel to Application</h2>


    <table class="table table-hover table-bordered table-responsive display" id="example">
        <thead>
            <tr class="alert-info">
                <th>
                    Select all <input type="checkbox" id="select_all" name="select-invoke" />
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Applications.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Applications.FirstOrDefault().Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Applications.FirstOrDefault().StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Applications.FirstOrDefault().EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Applications.FirstOrDefault().MaintenanceCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Applications.FirstOrDefault().MStartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Applications.FirstOrDefault().MEndDate)
                </th>

                @* The amount of <th> has to be equal to the amount of <td> for that this last <th> *@
                <th class="hidden"></th>
            </tr>
        </thead>
        <tfoot>

        </tfoot>
        <tbody>



            @for (int i = 0; i < Model.Applications.Count(); i++)
            {

                <tr>

                    <td>
                        @Html.EditorFor(item => item.Applications[i].Checked, new { @class = "form-control", required = "required" })
                    </td>
                    <td>
                        @Html.DisplayFor(item => item.Applications[i].Name)
                    </td>
                    <td>
                        <div class="col-md-10 form-group">
                            @Html.EditorFor(item => item.Applications[i].Cost, new { htmlAttributes = new { @class = "form-control", @min = 0 } })
                            @Html.ValidationMessageFor(item => item.Applications[i].Cost, "", new { @class = "text-danger" })
                        </div>
                    </td>

                    <td>
                        @Html.EditorFor(item => item.Applications[i].StartDate, new { HtmlAttributes = new { @class = "datefield", type = "date", value = DateTime.Today.ToShortDateString() } })
                    </td>
                    <td>
                        @Html.EditorFor(item => item.Applications[i].EndDate, new { HtmlAttributes = new { @class = "datefield", type = "date", value = DateTime.Today.ToShortDateString() } })
                    </td>
                    <td>
                        @Html.EditorFor(item => item.Applications[i].MaintenanceCost, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(item => item.Applications[i].MaintenanceCost, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.EditorFor(item => item.Applications[i].MStartDate, new { HtmlAttributes = new { @class = "datefield", type = "date", value = "2014-01-01" } })
                    </td>
                    <td>
                        @Html.EditorFor(item => item.Applications[i].MEndDate, new { HtmlAttributes = new { @class = "datefield", type = "date", value = DateTime.Today.ToShortDateString() } })
                    </td>
                    <td class="hidden">
                        @Html.HiddenFor(item => item.Applications[i].ApplicationId)
                    </td>
                </tr>

            }
        </tbody>

    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="btn btn-warning">
                @Html.ActionLink("back", "Index", "Search", new { Style = "color:white" })
            </div>
            <input type="submit" value="Add" class="btn btn-success" />
        </div>
    </div>
}


