@model Project_TL.ViewModels.HotelViewModel
<link href="~/Content/Hotels.css"  rel="stylesheet" type="text/css" />
<link href="~/Content/theme.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Details";
}
<html>
<body>
    

    <br />
    <h2>Details @Model.Branch.Name</h2>

    <div class="col-md-12">
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Branch)
            </dt>

            <dd class="bubbleInfo">
                <a href="@Url.Action("DetailBranch", "Settings", new {name = Model.Branch.Name})"> @Html.DisplayFor(model => model.Branch.Name)</a>
                        </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Adres)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Adres.HomeNumber) @Html.DisplayFor(model => model.Adres.Street)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.Adres.PostalCode) @Html.DisplayFor(model => model.Adres.City)
                @Html.DisplayFor(model => model.Adres.Country)

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HotelId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HotelId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TelephoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TelephoneNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Owner)
            </dt>
            <dd class="bubbleInfo">

                <a >@Html.DisplayFor(model => model.Owner.LastName)</a>
              
                   
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ContactPerson)
            </dt>
            <dd>
                <a data-tooltip="#contact">@Html.DisplayFor(model => model.ContactPerson.LastName)</a> 
                <div class="popup" id="contact">
                    @Html.DisplayFor(model => model.ContactPerson.Email)
                    <br />
                    @Html.DisplayFor(model => model.ContactPerson.SelphoneNr)
                </div>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.VatNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VatNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Systems)
            </dt>
            @if(Model.Systems.Count == 0)
            {
                <dd>There are currently no Systems </dd>
            }
            else
            {
                <dd>
                    <table class="table-condensed table-responsive table-bordered">
                        <tr>
                            <th>System</th>
                            <th>Cost</th>
                            <th>EndDate</th>
                            <th> Cost Maintenance</th>
                        </tr>
                        @foreach (var item in Model.Systems)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => item.Name)
                                </td>
                                <td>
                                    @String.Format("€{0:N}", item.Price)
                                </td>
                                <td>
                                    @String.Format(item.EndDate.ToShortDateString())
                                </td>
                                <td>
                                    @String.Format("€{0:N}", item.Maintenance.Price)
                                </td>
                            </tr>
                        }
                    </table>
                </dd>
            }
            
            <dt>Total cost</dt>
            <dd>
                @Html.DisplayFor(item => item.TotalCost)
            </dd>
   
                  
    
           

        </dl>
    </div>
    <p>

        <a href="@Url.Action("Edit", "Search", new {  hotelId = Model.HotelId  })">Edit</a> |
        @Html.ActionLink("Back to List", "Index")
    </p>
 
    <script src="~/Scripts/Own Scripts/Popup.js"></script>
</body>
</html>