@model IEnumerable<Project_TL.ViewModels.HotelViewModel>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Hotels.css" rel="stylesheet" type="text/css" />
<link href="~/Content/theme.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<html>
<body>


    <h2>Index</h2>

    <br />
    <div class="centering ">
        <table class="table table-hover table-bordered table-responsive">
            <tr class="alert-info">
                <th>
                    @Html.DisplayNameFor(model => model.Branch)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HotelId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactPerson)
                </th>
                <th>
                    @Html.DisplayNameFor(model =>model.Owner)
                </th>
                <th>
                    Total Cost
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Branch.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adres.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HotelId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactPerson.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.LastName)
                    </td>
                    <td>

                    </td>
                    @if (ViewBag.admin == true)
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    }
                    else
                    {
                        <td>

                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) 

                        </td>
                    }

                </tr>
            }

        </table>
    </div>
</body>
</html>