@model IEnumerable<Project_TL.Models.Domain.Hotel>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Hotels.css" rel="stylesheet" type="text/css" />
<h2>Index</h2>
<br/>
@if (ViewBag.admin == true)
{
    <p class="right">
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div class="centering text-center">


<table class="table table-hover table-bordered table-responsive" >
    <tr class="alert-info">
        <th>
            @Html.DisplayNameFor(model => model.Branch.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPerson.name)
        </th>
        <th>
            Total Cost
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HotelId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactPerson.name)
        </td>
        <td>

        </td>
    @if (ViewBag.Admin == true)
    {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.HotelId }) |
            @Html.ActionLink("Details", "Search", new { id = item.HotelId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.HotelId })
        </td>
    }
    else
    {
        <td>
        @Html.ActionLink("Details", "Details", new { id = item.HotelId }) 
         </td>
    }


    </tr>
}

</table>
    </div>
