
@model Project_TL.ViewModels.Report.SecondReportViewModel

@{
    ViewBag.Title = "SecondPage";

}
<br />
<br />
<br />
<h2>Confirmation</h2>
<html>
<body>
   @using (Html.BeginForm("ConfirmationPage", "Report", FormMethod.Post, new { model = Model }))
   {
    @Html.AntiForgeryToken()

       for (int i = 0; i < Model.List.Count(); i++)
       {
        <h3>Detals Hotel @Html.DisplayFor(model => Model.List[i].HotelName)  </h3>
        @Html.HiddenFor(model => Model.List[i].HotelName)
           @Html.HiddenFor(model => Model.List[i].OwnerName)
        <br />
        <p><b>Owner</b> : @Html.DisplayFor(model => Model.List[i].OwnerName)</p>
        <p><b>Branch</b> : @Html.DisplayFor(model => Model.List[i].BranchName)</p>
        <table class="table table-hover table-bordered table-responsive">
         <tr>
                    <th> @Html.DisplayNameFor(model => Model.List[i].HAList.FirstOrDefault().ApplicationName)</th>  
                    <th class="hidden"> @Html.HiddenFor(model => Model.List[i].OwnerName )</th> 
                    <th class="hidden"> @Html.HiddenFor(model => Model.List[i].HotelName) </th>                 
                    <th> @Html.DisplayNameFor(model => Model.List[i].HAList.FirstOrDefault().StartDate)</th>
                    <th> @Html.DisplayNameFor(model => Model.List[i].HAList.FirstOrDefault().EndDate)</th>
                    <th> @Html.DisplayNameFor(model => Model.List[i].HAList.FirstOrDefault().Cost)</th>
                    @if (Model.Future == true)
                    {
                    <th>Future price</th>
                    <th>Future maintenance price</th>
                    }    
                </tr>

                @* no foreach, we need index to fill in the new prices at the right place *@
                @for (int j = 0; j < Model.List[i].HAList.Count(); j++)
                {
                    if (Model.Future == true)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => Model.List[i].HAList[j].ApplicationName)</td>        
                            <td class="hidden">
                                @Html.HiddenFor(model => Model.List[i].HAList[j].ApplicationName)
                            </td>                  
                            <td>@String.Format(Model.List[i].HAList[j].StartDate.ToShortDateString())</td>
                            <td class="hidden">
                                @Html.HiddenFor(model => Model.List[i].HAList[j].StartDate)
                            </td>  
                            <td>@String.Format(Model.List[i].HAList[j].EndDate.ToShortDateString())</td>
                            <td class="hidden">
                                @Html.HiddenFor(model => Model.List[i].HAList[j].EndDate)
                            </td>  
                            <td>@String.Format("€{0:N}", Model.List[i].HAList[j].Cost.ToString())   </td>
                            <td class="hidden">
                                @Html.HiddenFor(model => Model.List[i].HAList[j].Cost)
                            </td>  
                           
                            <td>Fill in the furure price (in €): @Html.EditorFor(model => Model.List[i].NewListCost[j])  </td>
                            @*<td>Fill in the future price for maintenance (in €:) @Html.EditorFor(model => item.NewListMaintenance[i])</td>*@
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => Model.List[i].HAList[j].ApplicationName)</td>                           
                            <td>@String.Format(Model.List[i].HAList[j].StartDate.ToShortDateString())</td>
                            <td>@String.Format(Model.List[i].HAList[j].EndDate.ToShortDateString())</td>
                            <td>@String.Format("€{0:N}", Model.List[i].HAList[j].Cost.ToString())   </td>

                            <td class="hidden"> @Html.HiddenFor(model => Model.List[i].HAList[j].ApplicationName)</td>
                            <td class="hidden"> @Html.HiddenFor(model => Model.List[i].HAList[j].StartDate)</td>
                            <td class="hidden"> @Html.HiddenFor(model => Model.List[i].HAList[j].EndDate)</td>
                            <td class="hidden"> @Html.HiddenFor(model => Model.List[i].HAList[j].Cost)</td>
                        </tr>
                    }
                }
                
               
            </table>

    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="btn btn-warning">
                @Html.ActionLink("back", "Index", "Report", new { Style = "color:white" })
            </div>
            <input type="submit" value="Make report" class="btn btn-success" />

        </div>
    </div>

   }

</body>
</html>
