@model Project_TL.ViewModels.Report.SecondReportViewModel

@{
    ViewBag.Title = "ReportPage";
}
<link href="~/Content/Hotels.css" rel="stylesheet" type="text/css" />
<link href="~/Content/theme.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Other.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/Own Scripts/DataTable.js"></script>
<script src="~/Scripts/Own Scripts/BasicTable.js"></script>

<html>
<body>


    <h2>Report Page</h2>
    <br />
    <br />
    @using (Html.BeginForm("ReportPage", "Report", FormMethod.Post))
    {
    <div class="top-right right">

            <input type="submit" value="Export Excel" class="btn btn-success" />
    </div>
    }
    <h3>Summary Hotel </h3>
    <table class="table table-hover table-bordered table-responsive display" id="example">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of applications</th>
                <th>Total application cost between @Model.StartDate.ToShortDateString() and @Model.EndDate.ToShortDateString()</th>
                <th>Total maintenance cost between @Model.StartDate.ToShortDateString() and @Model.EndDate.ToShortDateString()</th>
            </tr>
        </thead>
       
        <tbody>
            @foreach (var item in Model.List.OrderBy(t =>t.HotelName))
            {
                
                <tr>
                    <td>@Html.DisplayFor(model => item.HotelName)</td>
                    <td>@item.HAList.Count() </td>
                    <td>@item.HAList.Sum(t => t.Cost) + @item.NewListCost.Sum()</td>
                    <td> @item.HAList.Sum(t => t.Maintenance.Price) + @item.NewListMaintenance.Sum()</td>
                </tr>
            }
            
        </tbody>
    </table>

    <h3>Summery Branch</h3>
    <table class="table table-hover table-bordered table-responsive display" id="example">
        <thead>
            <tr>
                <th>Name</th>
                <th>number of applications</th>
                <th>Total application cost between @Model.StartDate.ToShortDateString() and @Model.EndDate.ToShortDateString()</th>
                <th>Total maintenance cost between @Model.StartDate.ToShortDateString() and @Model.EndDate.ToShortDateString()</th>
            </tr>
        </thead>
        <tbody>
          
            @*@foreach (var item in Model.List.OrderBy(t => t.BranchName).Select(t => t.BranchName).Distinct())*@     
            @for(int i = 0; i < Model.BranchList.Count; i++)    
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => Model.BranchList[i].Key)
                    </td>
                    <td>
                        @Model.List.Where(t => t.BranchName == Model.BranchList[i].Key).Sum(t => t.HAList.Count()).ToString()
                        
                       
                    </td>
                    <td>
                        @Model.BranchCost[i].ToString() + @Model.List.Where(t => t.BranchName == Model.BranchList[i].Key).Sum(t => t.NewListCost.Sum() )
                      
                    </td>
                    <td>
                        @String.Format(Model.BranchMaintenance[i].ToString())
                    </td>
                </tr>
                
            }
        </tbody>
       

        </table>

    <div class="btn btn-danger">
        @Html.ActionLink("back", "Index", "Report", new { Style = "color:white" })
    </div>
      

</body>
</html>

