@model Project_TL.ViewModels.Settings.ContactViewModel

@{
    ViewBag.Title = "DetailsContactPerson";
}

<h2>Details @Model.LastName @Model.FirstName</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellphoneNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellphoneNr)
        </dd>
        @if (Model.Hotels.Count == 0)
        {
            <dd>This person is currently of no hotels the contact person. </dd>
        }
        else
        {
            <dd>
                <table class="table-condensed table-responsive table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Owner</th>
                        <th>Total cost</th>

                    </tr>
                    @foreach (var item in Model.Hotels)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Owner.LastName) @Html.DisplayFor(model => item.Owner.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.TotalCost)
                            </td>
                        </tr>
                    }



                </table>
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
